<div class="main">
  <div class="medias-carousel" #carousel>
    @for (media of medias$ | async; track $index) {
      <a class="media-link" [routerLink]="['/' + mediaType, 'details', media.id]">
        <clqt-media-card [media]="media"></clqt-media-card>
      </a>
    }
  </div>

  <button
    class="nav-button prev-button"
    clqt-hover-scroll
    [scrollTarget]="carouselRef"
    scrollDirection="left"
    [scrollDelta]="265"
  >
    &lt;
  </button>

  <button
    class="nav-button next-button"
    clqt-hover-scroll
    [scrollTarget]="carouselRef"
    scrollDirection="right"
    [scrollDelta]="265"
  >
    &gt;
  </button>
</div>
