<div class="header">
  <div class="content">
    <div class="sub-media">
      <div class="nav-wrapper">
        <a class="logo-link" routerLink="/main-menu"
          ><img class="logo-img" src="svg/clqt.svg" alt="Claquete (CLQT)"
        /></a>
        <ul class="navbar">
          <li class="nav-item dropdown" routerLinkActive="pagina-atual">
            <a class="nav-link dropdown-btn">Movies</a>
            <div class="dropdown-content">
              <a
                class="nav-link"
                routerLink="/movie/all"
                routerLinkActive="pagina-atual"
                [routerLinkActiveOptions]="{ exact: true }"
                >All Categories</a
              >
              <a
                class="nav-link"
                [routerLink]="['/movie', 'popular']"
                routerLinkActive="pagina-atual"
                >Popular</a
              >
              <a
                class="nav-link"
                [routerLink]="['/movie', 'now_playing']"
                routerLinkActive="pagina-atual"
                >Now Playing Movies</a
              >
              <a
                class="nav-link"
                [routerLink]="['/movie', 'upcoming']"
                routerLinkActive="pagina-atual"
                >Upcoming Movies</a
              >
              <a
                class="nav-link"
                [routerLink]="['/movie', 'top_rated']"
                routerLinkActive="pagina-atual"
                >Top Rated</a
              >
            </div>
          </li>
          <li class="nav-item dropdown" routerLinkActive="pagina-atual">
            <a class="nav-link dropdown-btn">TV Shows</a>
            <div class="dropdown-content">
              <a
                class="nav-link"
                routerLink="/tv/all"
                routerLinkActive="pagina-atual"
                [routerLinkActiveOptions]="{ exact: true }"
                >All Categories</a
              >
              <a class="nav-link" [routerLink]="['/tv', 'popular']" routerLinkActive="pagina-atual"
                >Popular</a
              >
              <a
                class="nav-link"
                [routerLink]="['/tv', 'airing_today']"
                routerLinkActive="pagina-atual"
                >Airing Today</a
              >
              <a
                class="nav-link"
                [routerLink]="['/tv', 'on_the_air']"
                routerLinkActive="pagina-atual"
                >On TV</a
              >
              <a
                class="nav-link"
                [routerLink]="['/tv', 'top_rated']"
                routerLinkActive="pagina-atual"
                >Top Rated</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/favorites" routerLinkActive="pagina-atual"
              >Your Favorites</a
            >
          </li>
        </ul>
      </div>
      <div class="tools">
        <div class="search">
          <clqt-search />
        </div>

        <div class="language-selector">
          <clqt-language-selector />
        </div>

        <div class="auth">
          <!-- <h1><i class="bi bi-person"></i></h1> Implementar auth via TMDB-->
        </div>
      </div>
    </div>
  </div>
</div>
