<div class="header">
  <div class="content">
    <div class="sub-media">
      <div class="nav-wrapper">
        <a class="logo-link" routerLink="/main-menu" routerLinkActive="pagina-atual"
          ><img class="logo-img" src="clqt.svg" alt="Claquete (CLQT)"
        /></a>
        <ul class="navbar">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-btn"
              [routerLink]="['/movies']"
              routerLinkActive="pagina-atual"
              >Movies</a
            >
            <div class="dropdown-content">
              <a
                class="nav-link"
                [routerLink]="['/movies', 'popular']"
                routerLinkActive="pagina-atual"
                >Popular</a
              >
              <a
                class="nav-link"
                [routerLink]="['/movies', 'now_playing']"
                routerLinkActive="pagina-atual"
                >Now Playing Movies</a
              >
              <a
                class="nav-link"
                [routerLink]="['/movies', 'upcoming']"
                routerLinkActive="pagina-atual"
                >Upcoming Movies</a
              >
              <a
                class="nav-link"
                [routerLink]="['/movies', 'top_rated']"
                routerLinkActive="pagina-atual"
                >Top Rated</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-btn" [routerLink]="['/tv']" routerLinkActive="pagina-atual"
              >TV Shows</a
            >
            <div class="dropdown-content">
              <a class="nav-link" [routerLink]="['/tv', 'popular']" routerLinkActive="pagina-atual"
                >Popular</a
              >
              <a
                class="nav-link"
                [routerLink]="['/tv', 'now_playing']"
                routerLinkActive="pagina-atual"
                >Airing Today</a
              >
              <a class="nav-link" [routerLink]="['/tv', 'upcoming']" routerLinkActive="pagina-atual"
                >On TV</a
              >
              <a
                class="nav-link"
                [routerLink]="['/tv', 'top_rated']"
                routerLinkActive="pagina-atual"
                >Top Rated</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/favorites" routerLinkActive="pagina-atual"
              >Your Favorites</a
            >
          </li>
        </ul>
      </div>
      <div class="flex">
        <div class="search_bar"></div>
        <div class="auth"><h1>A</h1></div>
      </div>
    </div>
  </div>
</div>
