<div class="header">
  <div class="content">
    <div class="sub-media">
      <div class="nav-wrapper">
        <a class="logo-link" routerLink="/main-menu" routerLinkActive="pagina-atual"
          ><img class="logo-img" src="clqt.svg" alt="Claquete (CLQT)"
        /></a>
        <ul class="navbar">
          <li class="nav-item">
            <a class="nav-link" routerLink="/popular" routerLinkActive="pagina-atual"
              >Popular Movies</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/top-rated" routerLinkActive="pagina-atual"
              >Top Rated</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/favorites" routerLinkActive="pagina-atual"
              >Your Favorites</a
            >
          </li>
        </ul>
      </div>
      <div class="flex">
        <div class="search_bar"></div>
        <div class="auth"><h1>A</h1></div>
      </div>
    </div>
  </div>
</div>
