@use '../../../variaveis' as *;

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  box-sizing: border-box;
}

.sub-media {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
  box-sizing: border-box;
}

.nav-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  overflow: visible;
  box-sizing: border-box;
}

.logo-link {
  display: flex;
  margin-right: 16px;
  font-weight: 600;
  box-sizing: border-box;
}

.logo-img {
  height: 70px;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  list-style-type: none;
}

.nav-item {
  font-size: larger;
  font-weight: bold;
}

.nav-link {
  color: $branco;
  text-decoration: none;
  transition: $transicao;

  &:hover {
    color: $hover;
    text-shadow:
      0 0 1px $pagina-ativa-sombra,
      0 0 2px $pagina-ativa-sombra,
      0 0 2px $pagina-ativa-sombra;
  }
}

.pagina-atual {
  color: $pagina-ativa;
  text-shadow:
    0 0 1px $pagina-ativa-sombra,
    0 0 2px $pagina-ativa-sombra,
    0 0 2px $pagina-ativa-sombra;
}

@media (max-width: 1280px) {
  .navbar {
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0 0 8px 0;
    justify-content: center;
  }
}

@media (max-width: 982px) {
  .navbar {
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0 0 8px 0;
    justify-content: center;
  }
  .nav-item {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0 0 8px 0;
    justify-content: center;
  }
  .nav-item {
    font-size: 1rem;
  }
}
