<div class="main">
  <div class="content" *transloco="let t">
    <gs-buttons
      [buttonType]="buttonType.Default"
      [text]="t('common.buttons.try-again')"
      bootstrapIcon="bi-arrow-clockwise"
      color="#41C8D5"
      textColor="#FFFFFF"
      hoverColor="#12AFC0"
      activeColor="#29BBCA"
      [variant]="variantType.Outline"
      (click)="tryAgain()"
    ></gs-buttons>
    <h1>{{ t('not-authorized.title') }}</h1>
    <h2>{{ t('not-authorized.subtitle') }}</h2>
    <p>{{ t('not-authorized.message-must-be-granted') }}</p>
    <p>{{ t('not-authorized.message-check-env') }}</p>
  </div>
</div>
