@use '../_variaveis' as *;

.main {
  color: $branco;
  background: $gradient-background;
}

@media (max-width: 982px) {
  .main {
    width: auto;
  }
}

@media (max-width: 768px) {
  .main {
    width: auto;
  }
}
