<div class="card" *transloco="let t; prefix: 'medias.section-title'">
  <div class="popularMedias">
    <h1 class="title">{{t('popular')}}</h1>
    <clqt-carousel [medias$]="popularMedias$" [mediaType]="mediaTypeStr"></clqt-carousel>
  </div>
  <div class="topRatedMedias">
    <h1 class="title">{{t('top-rated')}}</h1>
    <clqt-carousel [medias$]="topRatedMedias$" [mediaType]="mediaTypeStr"></clqt-carousel>
  </div>
  @if ((mediaType$ | async) === 'movie') {
    <div class="upcomingMovies">
      <h1 class="title">{{t('upcoming')}}</h1>
      <clqt-carousel [medias$]="upcomingMedias$" [mediaType]="mediaTypeStr"></clqt-carousel>
    </div>
    <div class="nowPlayingMovies">
      <h1 class="title">{{t('now-playing')}}</h1>
      <clqt-carousel [medias$]="nowPlayingMedias$" [mediaType]="mediaTypeStr"></clqt-carousel>
    </div>
  } @else {
    <div class="airingTVShow">
      <h1 class="title">{{t('airing')}}</h1>
      <clqt-carousel [medias$]="airingTodayMedias$" [mediaType]="mediaTypeStr"></clqt-carousel>
    </div>
    <div class="on-airTVShow">
      <h1 class="title">{{t('on-air')}}</h1>
      <clqt-carousel [medias$]="onTheAirMedias$" [mediaType]="mediaTypeStr"></clqt-carousel>
    </div>
  }
</div>
