@use '../../../variaveis' as *;

.card {
  display: flex;
  flex-direction: column;
  background: $gradient-background;
}

.popularMedias,
.topRatedMedias,
.upcomingMovies,
.nowPlayingMovies,
.airingTVShow,
.on-airTVShow {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .title {
    align-self: center;
  }
}
