@use '../../../variaveis' as *;

a {
  all: inherit;
  align-self: center;
  width: fit-content;
  height: fit-content;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background: $gradient-background;
}

.popularMedias,
.topRatedMedias,
.upcomingMovies,
.nowPlayingMovies,
.airingTVShow,
.on-airTVShow {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .title {
    transition: $transicao-rapida;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .title:hover {
    color: $hover;
    cursor: pointer;
    transform: scale(0.98);
  }
}
