<div class="card" *transloco="let t; prefix: 'medias.section-title'">
  <div class="popularMedias">
    <a [routerLink]="['/', mediaTypeStr, 'popular']">
      <h1 class="title">{{ t('popular') }}</h1>
    </a>
    <clqt-carousel [medias$]="popularMedias$"></clqt-carousel>
  </div>
  <div class="topRatedMedias">
    <a [routerLink]="['/', mediaTypeStr, 'popular']">
      <h1 class="title">{{ t('top-rated') }}</h1>
    </a>
    <clqt-carousel [medias$]="topRatedMedias$"></clqt-carousel>
  </div>
  @if ((mediaType$ | async) === 'movie') {
    <div class="upcomingMovies">
      <a [routerLink]="['/', mediaTypeStr, 'popular']">
        <h1 class="title">{{ t('upcoming') }}</h1>
      </a>
      <clqt-carousel [medias$]="upcomingMedias$"></clqt-carousel>
    </div>
    <div class="nowPlayingMovies">
      <a [routerLink]="['/', mediaTypeStr, 'popular']">
        <h1 class="title">{{ t('now-playing') }}</h1>
      </a>
      <clqt-carousel [medias$]="nowPlayingMedias$"></clqt-carousel>
    </div>
  } @else {
    <div class="airingTVShow">
      <a [routerLink]="['/', mediaTypeStr, 'popular']">
        <h1 class="title">{{ t('airing') }}</h1>
      </a>
      <clqt-carousel [medias$]="airingTodayMedias$"></clqt-carousel>
    </div>
    <div class="on-airTVShow">
      <a [routerLink]="['/', mediaTypeStr, 'popular']">
        <h1 class="title">{{ t('on-air') }}</h1>
      </a>
      <clqt-carousel [medias$]="onTheAirMedias$"></clqt-carousel>
    </div>
  }
</div>
