@use '../../../variaveis' as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0 12px 0;
}

.media-link {
  color: $texto-principal;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: $gradient-background;
}

.btn-loadMore {
  align-self: center;
}

.medias-list {
  display: grid;
  grid-template-columns: repeat(6, 240px);
  gap: 20px;
  height: 100%;
}

@media (max-width: 1800px) {
  .movies-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1600px) {
  .movies-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1280px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 982px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .movies-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 378px) {
  .movie {
    flex-direction: column;
  }
}
