<div class="main">
  <gs-buttons
    class="btn-back"
    [buttonType]="buttonType.Link"
    text="Voltar"
    [link]="['/movie', 'popular']"
    [target]="targetType.NewTab"
    [variant]="variant.Outline"
  ></gs-buttons>
  <div class="medias-list">
    @for (media of medias$ | async; track $index) {
      <clqt-media-card [media]="media"></clqt-media-card>
    }
  </div>
  <gs-buttons
    class="btn-loadMore"
    [buttonType]="buttonType.Default"
    text="Carregar Mais"
    (click)="loadMore()"
  ></gs-buttons>
</div>
