<div class="main">
  <div class="content">
    <gs-buttons
      class="btn-back"
      [buttonType]="buttonType.Link"
      text="Back"
      bootstrapIcon="bi-chevron-double-left"
      color="#41C8D5"
      textColor="#FFFFFF"
      hoverColor="#12AFC0"
      activeColor="#29BBCA"
      link="/main-menu"
      [target]="targetType.NewTab"
      [variant]="variantType.Outline"
    ></gs-buttons>
    <div class="medias-list">
      @for (media of medias$ | async; track $index) {
        <clqt-media-card [media]="media"></clqt-media-card>
      }
    </div>
    <gs-buttons
      class="btn-loadMore"
      [buttonType]="buttonType.Default"
      text="Load More"
      bootstrapIcon="bi-arrow-clockwise"
      color="#41C8D5"
      textColor="#FFFFFF"
      hoverColor="#12AFC0"
      activeColor="#29BBCA"
      [transitionProperties]="['background-color', 'box-shadow']"
      [transitionDuration]="200"
      [transitionEase]="'ease-in-out'"
      (click)="loadMore()"
    ></gs-buttons>
  </div>
</div>
