<div class="card">
  <div class="popularMovies">
    <h1>Popular Movies</h1>
    <clqt-carousel-movies [movies$]="popularMovies$"></clqt-carousel-movies>
  </div>
  <div class="topRatedMovies">
    <h1>Top Rated Movies</h1>
    <clqt-carousel-movies [movies$]="topRatedMovies$"></clqt-carousel-movies>
  </div>
  <div class="upcomingMovies">
    <h1>Upcoming Movies</h1>
    <clqt-carousel-movies [movies$]="upcomingMovies$"></clqt-carousel-movies>
  </div>
  <div class="nowPlayingMovies">
    <h1>Now Playing Movies</h1>
    <clqt-carousel-movies [movies$]="nowPlayingMovies$"></clqt-carousel-movies>
  </div>
</div>
