@use '../../../variaveis' as *;

.card {
  display: flex;
  flex-direction: column;
  background: $gradient-background;
}

.popularMovies,
.topRatedMovies,
.upcomingMovies,
.nowPlayingMovies {
  display: flex;
  flex-direction: column;
  padding: 10px;

  h1 {
    align-self: center;
  }
}
