<div class="main">
  <div class="content">
    <div class="medias-list">
      @if (favoritesByType$ | async; as fav) {
        @if (!fav.movies.length && !fav.tvShows.length) {
          <p class="empty">You need to favorite some media first.</p>
        }
        @if (fav.movies.length) {
          <h2 class="section-title">Movies</h2>
          <ul class="grid">
            @for (media of fav.movies; track media.id) {
              <li>
                <a class="media-link" [routerLink]="['/' + media.mediaType, 'details', media.id]">
                  <clqt-media-card [media]="media"></clqt-media-card>
                </a>
              </li>
            }
          </ul>
        }
        @if (fav.tvShows.length) {
          <h2 class="section-title">TV Shows</h2>
          <ul class="grid">
            @for (media of fav.tvShows; track media.id) {
              <li>
                <a class="media-link" [routerLink]="['/' + media.mediaType, 'details', media.id]">
                  <clqt-media-card [media]="media"></clqt-media-card>
                </a>
              </li>
            }
          </ul>
        }
      }
    </div>
  </div>
</div>
