<div class="main">
  <div class="content" *transloco="let t; prefix: 'favorites'">
    @if (favoritesByType$ | async; as fav) {
      @if (!fav.movies.length && !fav.tvShows.length) {
        <p class="empty">{{ t('empty') }}</p>
      }
      @if (fav.movies.length) {
        <div class="movies">
          <h2 class="section-title">{{ t('section-title.movies') }}</h2>
          @if (fav.movies.length > 6) {
            <clqt-carousel [medias$]="movies$" mediaType="movie"></clqt-carousel>
          } @else {
            <div class="medias-list">
              @for (media of movies$ | async; track $index) {
                <clqt-media-card [media]="media"></clqt-media-card>
              }
            </div>
          }
        </div>
      }
      @if (fav.tvShows.length) {
        <div class="tv-shows">
          <h2 class="section-title">{{ t('section-title.tv-shows') }}</h2>
          @if (fav.tvShows.length > 6) {
            <clqt-carousel [medias$]="tvShows$" mediaType="tv"></clqt-carousel>
          } @else {
            <div class="medias-list">
              @for (media of tvShows$ | async; track $index) {
                <clqt-media-card [media]="media"></clqt-media-card>
              }
            </div>
          }
        </div>
      }
    }
  </div>
</div>
